<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1 class="title">To Do List App | EJS</h1>

    <div class="form_div">
        <h1>Daily <small>Tasks</small></h1>
        <form action="/admin/add-todo" role="form" class="form" method="POST">
            <div class="input_div">
                <input type="text" name="todo" class="input" placeholder="Task..." />

                <button type="submit" class="btn">Add</button>

            </div>
        </form>
        <div class="tasks_div">
            <% if(todos.length>0){ %>
            <table class="undone_table">
                <thead>
                    <tr>
                        <td>Not Completed Tasks <span style="color:rgb(217, 0, 255);text-decoration: underline;"><%= todos.length %></span>  </td>
                    </tr>
                </thead>
                <tbody>
                    <% for(let todo of todos){ %>
                    <tr>
                     
                            <td style=<%= todo.completed&&"background:green" %> >
                                <%= todo["text"] %>  
                                 <% if(todo.completed){ %> 
                                <div  >
                                    <a class="close fa fa-trash" href="/admin/delete-todo/<%= todo.id  %> "
                                        style="color:rgb(0, 0, 0);font-size: 1.5rem; margin: 0 5px;"></a>
                                    <span class="fa fa-heart" style="color:red"></span>
                                </div>
                                <%} else{ %>
                              
                                   
                                    <div>
                                        <a class="close fa fa-trash" href="/admin/delete-todo/<%= todo.id  %> "
                                            style="color:rgb(0, 0, 0);font-size: 1.5rem; margin: 0 5px;"></a>
                                        <a class="close fa fa-check-square" href="/admin/complete-todo/<%= todo.id %>"
                                            style="color:rgb(0, 0, 0);font-size: 1.5rem; margin: 0 5px;"></a>
                                    </div>
                                
                                <%  }%>  
                            </td>
                            
                       
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <table class="done_table">
                <thead>
                    <tr>
                        <td>Completed Tasks</td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <% } else{ %>
<div class="no_task_div"> <h1>There is not any task todo for now! :(</h1>
<h2>You can add your daily tasks here :) <span class="fa fa-heart" style="color:red"></span></h2>
</div>
           

            <% } %>

        </div>
    </div>

</html>